# ignore all executable files

nimcache/

*.log
*.exe
tests/all
/nimlangserver
nimble.develop
nimble.paths
nimbledeps
dprint.json

docs/

tests/nimbleDir/
tests/projects/testproject/
tests/projects/testrunner/.gitignore
tests/projects/testrunner/tests/test1
tests/projects/testrunner/tests/sampletests
