# ignore all executable files

nimcache/
bin

*.log
*.exe
*.dSYM
tests/all
tests/nimbleDir
tests/projects
/nimlangserver
nimble.develop
nimble.paths
nimbledeps
dprint.json

docs/

.DS_Store

rewrite_analysis/
.DS_Store
