on:
  push:
  pull_request:
  schedule:
  - cron: "0 19 * * *"

jobs:
  test:
    strategy:
      matrix:
        os:
          - windows-latest
          - macos-latest
          - ubuntu-latest
        nimversion:
          - devel
          # - version-1-6
    name: ${{ matrix.os }} - ${{ matrix.nimversion }}
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: ${{ matrix.nimversion }}
          nimble-version: 1df4a0dad3d24ef7aa424ebce0fe7d476e1069ee
      - name: nimble install
        run: |
          git clone https://github.com/nim-lang/nimble
          cd nimble
          git checkout 1df4a0dad3d24ef7aa424ebce0fe7d476e1069ee
          nim -d:release -o:nimble --skipParentCfg c src/nimble.nim
          echo '${{ github.workspace }}/nimble/' >> $GITHUB_PATH
      - name: Install Mercurial on macOS
        if: matrix.os == 'macos-latest'
        run: brew install mercurial
      - name: nimble install
        run: |
          echo ------------------
          which nimble
          echo ------------------
          nimble -y install
