on:
  push:
  pull_request:
  schedule:
  - cron: "0 19 * * *"

jobs:
  test:
    strategy:
      matrix:
        os:
          # - windows-latest
          # - macos-latest
          - ubuntu-latest
    name: ${{ matrix.os }} - ${{ matrix.nimversion }}
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Nimble
        uses: nim-lang/setup-nimble-action@v1
        with:
          nimble-version: "0.20.1"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Restore nimble dependencies from cache
        id: nimble_deps
        uses: actions/cache@v5
        with:
          path: |
            ~/.nimble
            ~/.cache/nim
          key: ${{ matrix.target.os }}-${{ env.cache_nonce }}-${{ hashFiles('**/nimble.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache_nonce }}-

      - name: Install dependencies
        shell: bash
        run: nimble -y install -l
      
      - name: Nimble Test
        shell: bash
        run: nimble test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check `nph` formatting
        uses: arnetheduck/nph-action@v1
        with:
          version: 0.6.2
          options: "*.nim protocol"
          fail: true
          suggest: true
