on:
  push:
  pull_request:
  schedule:
  - cron: "0 19 * * *"

jobs:
  test:
    strategy:
      matrix:
        os:
          # - windows-latest
          # - macos-latest
          - ubuntu-latest
    name: ${{ matrix.os }} - ${{ matrix.nimversion }}
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Nimble
        uses: nim-lang/nimble/.github/actions/install_nimble@master
        with:
          os: linux
          cpu: amd64

      - name: Restore nimble dependencies from cache
        id: nimble_deps
        uses: actions/cache@v4
        with:
          path: ~/.nimble/
          key: ${{ matrix.os }}-${{ env.cache_nonce }}

      - name: Nimble Install
        shell: bash
        run: |
          nimble -y install -l
      
      - name: Nimble Test
        shell: bash
        run: |
          nimble test
